// cores de fundo
$backgroundColor: #2c2c2c;
$primaryButtonBackgroundColor: #790007;
$secondaryButtonBackgroudColor: #c60024;
$footerColor: #1c1c1c;
$titleColor: #eab97f; // cores dos textos
$captionColor: #fff;
$textColor: #fff8db;