// cores de fundo
$backgroundColor: #480306;
$primaryButtonBackgroundColor: #790007;
$secondaryButtonBackgroudColor: #c60024;

// cores dos textos
$titleColor: #eab97f;
$captionColor: #fff;
$textColor: #fff8db;
